@import url('https://fonts.googleapis.com/css?family=Montserrat:300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300&display=swap');
html {
    margin:0px;
    padding:0px;
}
body {   
    background-color:#212529;    
}
.info{  
    opacity:95%;
    margin-top:250px;
    text-align: center;
    text-transform: uppercase;
    color:#9b9da0;
    font-family: 'Montserrat', sans-serif; 
}
/*init-imagens*/
.img {  
    /*Paralax background faz toda a função imagem deve ser inserida no Css não no html*/
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/2/510/462/face-portrait-women-model-wallpaper-preview.jpg");    
    /*background-attachment: fixed;*/
    background-position: center top;
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;    
    margin:50px 0px 20px 40%;     
    opacity:55% ;  
    border-radius:50%;
}
.img-2{
    background-image: url("https://images3.alphacoders.com/696/thumb-1920-696515.jpg");    
    /*background-attachment: fixed;*/
    background-position: left top;
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;    
    margin:-320px 0px 30px 100px;     
    opacity:55% ;      
    border-radius:50%;
}
.img-3{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/1004/767/609/nose-rings-hat-women-model-wallpaper-preview.jpg");    
    /*background-attachment: fixed;*/
    background-position: right top;
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;    
    margin:-320px 0px 30px 900px;     
    opacity:55% ;      
    border-radius:50%;    
    margin-right:25px;
}
/*end-imagens*/

/*init-imagens-text*/
.img-2 h2 {
    text-align: center;  
    font-family: 'Bellota Text', cursive;
    font-size:75px; 
    line-height:2px;
    letter-spacing:30px;
    padding-top:200px;
    color: #DB7093;   
    text-shadow: 3px 5px 2px #272626;
}
.img-3 h2 {
    text-align:center;  
    font-family: 'Bellota Text', cursive;
    font-size:75px; 
    line-height:3px;
    letter-spacing:10px;
    padding-top:200px;
    color: #DB7093;       
    text-shadow: 3px 5px 2px #272626;
}
.img  h2 {
    text-align: center;  
    font-family: 'Bellota Text', cursive;
    font-size:75px; 
    line-height:30px;
    letter-spacing:20px;
    padding-top:200px;
    color: #DB7093;   
    text-shadow: 3px 5px 2px #272626;
}
/*end-imagens-text*/
.icon img{
    opacity:60%;
    width:155px;
    height:185px;
    margin:10px 0px -250px 130px;    
}
ul {
    list-style:none;
    margin:100px 50px 25px 0px ;
}
nav {
    width:100%;
    position:absolute;
    display:block;
    text-align:center;    
    text-transform:uppercase;
    font-size:25px; 
    font-family: 'Sintony', sans-serif;   
    line-height:30px;
    letter-spacing:2px;
}
nav ul li {
    padding:8px;
    width:100%;
}
nav ul li a {   
    color:#3b3d3f;  
    position: relative;
}
a:hover {
    text-decoration: none;    
    color:#9b9da0;    
}
.info_extra {
    font-family: 'Sintony', sans-serif;
}
li:hover{
    border:1px solid #9b9da0;           
    line-height:30px;
    letter-spacing:5px;    
}
.jumbotron{
    background-color: #212529;
    opacity:95%;
    margin-top:10px;
    text-align: center;   
    color:#58595a;
    border:2px solid #1f2327 ;
    font-family: 'Rufina', serif;
    margin-bottom:5px;
}
.jumbotron h2{
    text-transform: uppercase;
}
.traso-vert{ 
    background-color:#58595a; 
    width:2px;
    height:100%;
    float:right;
    margin-left:2px;    
}
.col-lg-9 {
    padding-left:0px;
    padding-right: 0px;   
}
.col-lg-3 {
    padding-left: 0px;
    padding-right:5px;
   
}
.imgs {
    padding-top:60px;
    margin:0px;
    
}