@import url('https://fonts.googleapis.com/css?family=Montserrat:300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300&display=swap');
html {
    margin:0px;
    padding:0px;
}
body {   
    background-color:#212529;    
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.info{  
    opacity:95%;
    margin-top:250px;
    text-align: center;
    text-transform: uppercase;
    color:#9b9da0;
    font-family: 'Montserrat', sans-serif; 
}
/*init-imagens*/
.imgs{width:100% ;}
.img {     
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/2/510/462/face-portrait-women-model-wallpaper-preview.jpg");       
    background-position: center top;
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;    
    margin:50px 0px 10px 480px;     
    opacity:55% ;  
    border-radius:50%;
}
.img-2{
    background-image: url("https://images3.alphacoders.com/696/thumb-1920-696515.jpg");     
    background-position: left top;
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;    
    margin:-300px 0px 30px 50px;     
    opacity:55% ;      
    border-radius:50%;
    position: relative;
}
.img-3{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/1004/767/609/nose-rings-hat-women-model-wallpaper-preview.jpg");       
    background-position: right top;
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;   
    /*margin:-320px 0px 30px 1000px;  se acaso nao aceitar esse e´ para o site*/ 
    margin:-320px 0px 30px 900px;     
    opacity:55% ;      
    border-radius:50%;    
    margin-right:25px;
    position: absolute;
}
/*end-imagens*/

/*init-imagens-text*/
.img-2 h2 {
    text-align: center;  
    font-family: 'Bellota Text', cursive;
    font-size:75px; 
    line-height:2px;
    letter-spacing:30px;
    padding-top:200px;
    color: #DB7093;   
    text-shadow: 3px 5px 2px #272626;
}
.img-3 h2 {
    text-align:center;  
    font-family: 'Bellota Text', cursive;
    font-size:75px; 
    line-height:3px;
    letter-spacing:10px;
    padding-top:200px;
    color: #DB7093;       
    text-shadow: 3px 5px 2px #272626;
}
.img  h2 {
    text-align: center;  
    font-family: 'Bellota Text', cursive;
    font-size:75px; 
    line-height:30px;
    letter-spacing:20px;
    padding-top:200px;
    color: #DB7093;   
    text-shadow: 3px 5px 2px #272626;
}
/*end-imagens-text*/
.icon img{
    opacity:60%;
    width:155px;
    height:185px;
    margin:250px 0px -250px 130px;        
}
ul {    
    list-style:none;    
    margin: 150px 30px 0px 0px ;          
}
nav {    
    margin: 0px 0px 0px 0px;
    width:100%;
    position:absolute;
    display:block;
    text-align:center;    
    text-transform:uppercase;
    font-size:25px; 
    font-family: 'Sintony', sans-serif;   
    line-height:30px;
    letter-spacing:2px;    
    
}
nav ul li {
 
    padding: 8px;
   
}
nav ul li a {  
    
    color:#3b3d3f;  
    position: relative; 
}
a:hover {
    text-decoration: none;    
    color:#9b9da0;    
}
.info_extra {
    font-family: 'Sintony', sans-serif;
}
li:hover{
    border:1px solid #9b9da0;           
    line-height:20px;
    letter-spacing:5px;    
}
/*init info*/
.jumbotron{
    background-color: #212529;    
   
    text-align:center;   
    color:#58595a;
    border:1px solid #3b3d3f ;
    font-family: 'Rufina', serif;
    margin:10px;
}
.jumbotron h2{
    text-transform: uppercase;
    margin:-40px 0px 30px 0px;   
       
}
.jumbotron P {
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    padding:7px 0px 0px 40px;
    margin: 12px  500px 0px 395px;
    font-size:16px;     
}
.jumbotron P:hover {
    line-height:-15px;
    letter-spacing:2px;
    color:#9b9da0 ; 
    cursor: pointer;  
}
.jumbotron a img {
    height:80px; width:80px;float:right; margin:-96px 390px 0px 0px; opacity:25%;
}
.traso-vert{ 
    background-color:#3b3d3f; 
    width:2px;
    height:100%;
    float:right;
    margin-left:2px;    
}
.col-lg-9 {
    padding-left:0px;
    padding-right: 0px;   
}
.col-lg-3 {
    padding-left: 0px;
    padding-right:5px;
   
}
.imgs {
    padding-top:60px;
    margin:0px;   
   
}
/*init info*/
@media screen and (max-width:540px){
    /*posição do cabeçario*/
      .col-lg-3{
         margin: 0px;
         padding:0px;        
      }
      .col-lg-9 {
       margin: 0px;
       padding: 0px;
      }
      .icon{       
          padding: 0px 0px 19px 0px;
      }
      .icon img {
        width:100px;
        height:135px;
        margin:1px 0px 16px 152px; 
            
      }
      .info {
        padding: 1px 1px 1px 1px;
        margin: -31px 0px 0px -9px;
      }
      .info_extra {
          margin:200px 0px 194px 4px;          
      }
      nav{
          padding: 0px;
      }

      ul   {
        margin: -196px 0px 12px -51px;        
      }
      li{
        padding: 10px;
      }
      /* fim posição do cabeçario */
      /* order imagens init */      
      .imgs {
        margin: -40px 0px 0px -1px;
        
      }
      .traso-vert{
          display: none;
      }
     .img-2 {
       
         margin:-2% 0% 2% 13%;
     }
     .img{display: none;}
     .img-3{display: none;}
     /* order imagens init */
     /* text init */
     .jumbotron{
         width:100% ;
         margin:3px;
         height:250px;
     }
     .jumbotron h2{
      margin:10px 0px 0px 0px ;
     }
     .jumbotron p{         
         margin: 0px 0px 0px 0px;
     }
     /*icone  */
     .jumbotron a img{
         margin:-80px 7px 0px 0px;
     }
   
     /* text end */
    }

