@import url('https://fonts.googleapis.com/css?family=Montserrat:300i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300&display=swap');
body {   
    background-color:#212529;    
}
.info{  
    
    opacity:95%;
    margin-top:250px;
    text-align: center;
    text-transform: uppercase;
    color:#9b9da0;
    font-family: 'Montserrat', sans-serif; 
}

.img {  
    /*Paralax background faz toda a função imagem deve ser inserida no Css não no html*/
    background-image: url("../img/model-perfil.jpg");    
    /*background-attachment: fixed;*/
    background-position: center top;
    background-repeat:no-repeat;
    background-size:cover;
    width:300px;
    height:300px;    
    margin:50px 0px 20px 40%;     
    opacity:55% ;  
    border-radius:50%;
}

.img h2 {
    text-align: center;  
    font-family: 'Bellota Text', cursive;
    font-size:75px; 
    line-height:30px;
    letter-spacing:20px;
    padding-top:200px;
    color: #fff;   
    text-shadow: 3px 5px 2px #272626;
}
.icon img{
    opacity:60%;
    width:155px;
    height:185px;
    margin:10px 0px -250px 130px;    
}
ul {
    list-style:none;
    margin:100px 50px 25px 0px ;
}
nav {
    width:100%;
    position:absolute;
    display:block;
    text-align:center;    
    text-transform:uppercase;
    font-size:25px; 
    font-family: 'Sintony', sans-serif;   
    line-height:30px;
    letter-spacing:2px;
}
nav ul li {
    padding:8px;
    width:100%;
}
nav ul li a {   
    color:#3b3d3f;  
    position: relative;
}
a:hover {
    text-decoration: none;    
    color:#9b9da0;    
}
.info_extra {
    font-family: 'Sintony', sans-serif;
}
li:hover{
    border:1px solid #9b9da0;           
    line-height:20px;
    letter-spacing:5px;    
}
.jumbotron{
    background-color: #212529;
    opacity:95%;
    margin:10px 3px 5px 3px;
    text-align: center;   
    color:#58595a;
    border:2px solid #3b3d3f;
    font-family: 'Rufina', serif;
  
}
.jumbotron h2{
    text-transform: uppercase;
}
.traso-vert{ 
    background-color:#3b3d3f; 
    width:2px;
    height:100%;
    float:right;
    margin-left:2px;    
}
.col-lg-9 {
    margin: 0px;
    padding: 0px;
}
.col-lg-3 {
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width:540px){
    /*posição do cabeçario*/
      .col-lg-3{
         margin: 0px;
         padding:0px;        
      }
      .col-lg-9 {
       margin: 0px;
       padding: 0px;
      }
      .icon{       
          padding: 0px 0px 30px 0px;
      }
      .icon img {
          margin:16px 0px 224px 130px; 
          padding:0px;   
      }
      .info {
          padding:3px 12px 6px 1px;
          margin:-224px 1px 144px 12px;
      }
      .info_extra {
          margin:218px 0px 200px 0px;
          
      }
      ul   {
        margin:-194px 0px 0px -40px;
      }
      /* fim posição do cabeçario */
      .img {
          margin: 25px 0 15px 63px;
      }
      .traso-vert{
          display: none;
      }
      .jumbotron h2{
          font-size: 25px;
      }
    }